.svg_close {
  width: 18px;
  height: 18px;
}

.svg_icon-facebook {
  width: 8px;
  height: 16px;
}

.svg_icon-left {
  width: 22px;
  height: 18px;
}

.svg_icon-medium {
  width: 20px;
  height: 20px;
}

.svg_icon-right {
  width: 22px;
  height: 18px;
}

.svg_mark {
  width: 50px;
  height: 55px;
}

.svg_star {
  width: 8px;
  height: 10px;
}

.svg_zoom {
  width: 14px;
  height: 14px;
}

.wechat {
  width: 24px;
  height: 24px;
}

.weibo {
  width: 24px;
  height: 24px;
}

